.container.user-new
  = form_for current_user, url: '/users',  html: { method: :patch} do |f|
    .col-md-8.col-md-offset-2
      %header.row.user-nav.row
        .col-md-12
          %h2 Edit Profile
          .user-name_image.row
            .user-name.col-md-10
              = f.text_field :username, placeholder: 'Username', value: current_user.username
            .user-image.col-md-2{:style => 'background-image: url(= current_user.avatar);'}
              = f.button 'Change image', class: 'btn btn-primary'
              = f.file_field :avatar, value: current_user.avatar
          = f.email_field :email, value: current_user.email, autofocus: true, class: 'user-email'
          = f.password_field :password, autocomplete: 'off', class: 'user-password', placeholder: 'Password'
        .col-md-12
          %h4 Member of
          .user-user-member.row
            .user-name.col-md-12
              = f.text_field :member, value: current_user.member, placeholder: 'Member'
          %h4 Profile
          .user-user-profile.row
            .user-name.col-md-12
              = f.text_area :profile, placeholder: 'Profile', value: current_user.profile, size: '30x4'
          %h4 Works
          .user-name_image.row
            .user-name.col-md-12
              = f.text_area :works, placeholder: 'Works', value: current_user.works, size: '30x4'
      .row.text-center.user-btn
        = f.submit ['SAVE'], class: 'btn btn-lg btn-primary btn-block'
